$light-blue: aliceblue;
$blue: rgb(82, 154, 218);
$blue-hover:  rgb(9, 126, 228);
$grey: #dadada;
$grey-hover: #c9c9c9;
$orange: #febfa9;
$orange-hover: #fca180;
$yellow: #fee0b6;
$yellow-hover:#ffe055;