@import '../styles/_colors.scss';

.primary-form {
    padding: 30px;
    margin: 40px 0 80px 0;
    background-color: $light-blue;
    border-radius: 10px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transform: perspective(1px) translateZ(0);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;

    &:hover {
        box-shadow: 10px 10px 39px -25px rgba(0, 11, 160, 0.911);
        transform: scale(1.01);
    }

    h2 {
        font-size: 1.3rem;
        margin-bottom: 20px;
    }

    textarea {
        border: 1px dashed $blue;

        &::placeholder {
            font-weight: 100;
        }
    }

    .btn.btn-primary {
        padding: 10px 20px;
        border: 0;
        border-radius: 200px;
        background-color: $blue;
        transition: background-color 0.3s ease-in-out;

        &:hover {
            background-color: $blue-hover;
            transition: background-color 0.3s ease-in-out;
        }
    }

    .error-msg {
        margin: -6px 0 12px 0;
        font-size: 0.7rem;

        &.fadeOut {
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
        }

        &.fadeIn {
            opacity: 1;
            transition: opacity 0.3s ease-in-out;
        }
    }
}