@import '../styles/_colors.scss';

.card {
  border-radius: 0.5rem;
  border: 0;
  margin-bottom: 20px;

  .card-title.h5 {
    font-size: 1.2rem;
  }

  .card-text {
    font-size: 0.9rem;
  }

  .btn.btn-primary {
    font-size: 0.8rem;
    color: black;
    padding: 8px 20px;
    border: 0;
    border-radius: 30px;
    transition: background-color 0.3s ease-in-out;

    &.delete-btn {
      background-color: $grey;

      &:hover {
        background-color: $grey-hover;
        transition: background-color 0.3s ease-in-out;
      }
    }

    &.edit-btn {
      background-color: $orange;

      &:hover {
        background-color: $orange-hover;
        transition: background-color 0.3s ease-in-out;
      }
    }
  }
}