.card {
  border-radius: 0.5rem;
  border: 0;
  margin-bottom: 20px;

  .btn.btn-primary {
    font-size: 0.8rem;
    color: black;
    padding: 8px 20px;
    border: 0;
    border-radius: 30px;
    transition: background-color 0.3s ease-in-out;
    &.delete-btn {
      background-color: #dadada;
      &:hover {
        background-color: #c9c9c9;
        transition: background-color 0.3s ease-in-out;
      } 
    }
    &.edit-btn {
      background-color: #febfa9;
      &:hover {
        background-color: #fca180;
        transition: background-color 0.3s ease-in-out;
      }
    }
  }
}