body {
  height: 100%;
  background: rgb(254,135,119);
  background: linear-gradient(163deg, rgba(254,135,119,0.804359243697479) 0%, rgba(254,224,182,0.7987570028011204) 100%);
  background-repeat: no-repeat;
  padding-top: 60px;
  padding-bottom: 30px;
  text-align: center;
}

h1,
h2,
h3,
label,
button.btn,
.card-title.h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

p,
textarea {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}

